*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.logo{
  font-size: 32px;
  padding:5px 10px;
  color:rgb(0, 0, 0);
  background-color: rgb(85, 250, 168);
  border-radius: 20px;
  font-weight: 700;
  margin:10px;
} 
.brand{
  cursor: pointer;
}
.brand-name{
  font-size: 24px;
  padding:10px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}
.btn-donate{
  padding:5px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100%;
  font-weight: 600;
  border:2px solid rgb(255, 255, 255);
  animation: beats 1s ease-in 1s infinite;
  background-color: transparent;
  cursor:pointer;
}
@keyframes beats {
  50%{
    transform: scale(1.2,1.2);
  }
}
.btn-donate:hover{
  transition: all 0.5;
  transform: scale(1.1,1.1);
}
.btn-donate:active{
  box-shadow:none;
}
.logo-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
}
a:link,:visited{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.nav{
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  border-bottom:5px solid rgb(71, 71, 71);
}
.search{
  padding-top:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.search-bar{
  width: 40vw;
  height: 50px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat scroll 10px 50%;
  padding-left:40px;
  border-radius: 10px;
  border: none;
  outline:none;
  font-weight: 600;
  font-size: 20px;
  background-color: white;
  margin:100px 10px 10px 10px;
 
}
#search-bar::-webkit-search-cancel-button{
  position:relative;
  right:10px;    
}
.heart{
  color: red;
}
::placeholder {
 font-size: 20px;
}
.phrase{
  text-align: center;
  padding:0px 10px;
  background: linear-gradient(45deg,rgb(252, 143, 143), rgb(147, 243, 250),rgb(243, 243, 114));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
	animation: gradient 3s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.phrase-1
{
  text-align: center;
  color: white;
  padding:10px;
}
.header{
  background-image:linear-gradient(#000000, #00000000), url("./mountain.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

@media only screen and (max-width: 600px) {
  .search-bar{
    width: 75vw;
  }
  .suggestions{
    font-size: 12px;
    color: white;
  }
  .header{
    background-image:linear-gradient(#000000, #00000000), url("./mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 992px) {
  .nav{
    width: 100vw;
    padding:0px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#suggestions
{
 /* width: 25vw; */
 height: 30px;
 display: flex;
 justify-content: space-evenly;
 margin: 50px;
}

.suggest-item:hover
{
  transform: scale(1.2,1.2);
}

.suggest-item{
  font-size: 14px;
  display: flex;
 justify-content: space-evenly;
 align-items: center;
  padding:5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
#media{
  /* background-color: rgb(231, 231, 231); */
}
.media-type{
  padding:5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-type>div{
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.media-button{
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(85, 250, 168);
  padding:10px 15px;
  border:0;
  cursor:pointer
}
.media-button:hover{
  transform: scale(1.1,1.1);
}
.video{
  background-color: rgb(255, 255, 255);
  border:1px solid black;
}
.seperator{
  opacity: 0.5;
}
.media-show{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.media-content{
  width: 350px;
  margin-bottom: 5vh;
  cursor: pointer;
  transition: all 1s;
  z-index: -1;
}
.media-content:hover{
  transform: scale(1.1,1.1);
}
.back{
  float: left;
  margin-right: 50px;
  padding:10px;
  border:2px solid black;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 100%;
}
.back:hover{
  background-color: black;
  color: white;
}
.mediaDetails{
  padding: 20vh 10vh 0vh 10vh;
  /* margin:0 20vh; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right,#f12711,#f5af19);
}
#mediaInfo{
  width: 75%;
  height: 90%;
 /* border:1px solid black; */
 box-shadow:  0 0 15px rgb(94, 94, 94);
 background-color: rgb(255, 255, 255);
 padding:10px;
}
.mediaCard
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.ceatorName{
  padding-left: 20px;
}
#photoBy
{
  /* width: 150px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#dp{
  width: 50px;
  height: 50px;
  background-color:rgb(0, 0, 0);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid black;
}
.person{
  color: #ffffff !important;
}
.original{
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color:rgb(85, 250, 168);
  border:none;
  transition: all 0.5s;
  border-radius: 20px;
  cursor: pointer;
}
.original:hover{
  transform: scale(1.1,1.1);
}
.imageMedium{
  margin-top: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sweet-alert{
 padding:50px;
 background-color: rgb(255, 224, 224);
}
.duration{
  text-align: center;
  padding:5vh;
}
